@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(http://fonts.googleapis.com/css?family=Acme|Sintony:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Courgette);


@media screen and (min-width: 480px) and (max-width: 767px) {

}

@media screen and (max-width: 479px) {

#wrap,.footer {
	width: 479px;
	}
	
section,.inner, .header {
	width:479px; margin:0 auto;}	

.clearfix:after{
	display:block; 
	content:''; 
	clear:both;
}	

/* HEADER */

.top-bar {	
	width: 100%; 
	height: 50px;
	background-color:#393939;
}

.top-bar span {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 20px;
	float: left; 
	display: block;
}

.top-bar span a {
	text-decoration: none;
	color: #fff;
}


.social-link {
	width: 370px;
	float: right;
	list-style: none;
	margin-top: 0;
}

.social-link li{
	margin-top: 10px;
	float: left;
	margin-left: 15px;
}

.main-title {
	width: 465px;
	height: 255px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

.main-logo {
	width: 90%;
	height: 90%;
	margin-left: 10px;
	margin-top: 10px;
}

.nav-bar, .main-nav {
	display: none;}

.top-nav {
	margin-top: 10px;
	margin-bottom: 10px;
}
.top-nav a {
	color: #333;
	text-decoration: none;
}

.top-nav span{
	color: #333;
	word-spacing: 0.5em;
}

.top-nav span strong{
	color: #e92f33;
}	

/*------------- main-content ---------------*/	

.container {
	background-color: #fff;
	width: 479px;
	height: auto;
	margin: 0 auto;}

.about-top {
	width: 100%;
	height:237px;
	background: url(../img/about01.jpg) center center;
}

.about-top a{
	display: inline-block;
	font-family: 'Sintony', Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 30px;
	margin-top: 100px;
	margin-left: 50px;
	word-spacing: 0.5em;
	text-decoration: none;
	border-bottom: 0px;
	}

.about-top a:hover{	
	color: #f6604c;
	-webkit-transform: scale(1.5,1.5);
    transform: scale(1.5,1.5);
	transition: all 2s;
}

.about-main {
	width: 420px;
	margin: 0 auto;
	display: block;
}

.about-upper {
	display: block;
	padding-top: 30px;
	padding-left: 10px;
}
 
.about-nav {
	margin-left: 15px;
	margin-bottom: 20px;
	width: 100%;
}

.about-nav a {
	text-decoration: none;
}

.about-nav span {
	color: #333;
}

.about-nav .home {
	color: #f6604c;
}

.about-nav .contact {
	color: #00bff3;
}

.about-photo {
	display: block;
	margin: 0 auto;
	float: none;
	width: 317px;
	position: relative;
	border: 3px solid #ebebeb;
}

.thum-img{
	width: 318px;
	height: 64px;
	position: absolute;	
	overflow: hidden;
	bottom: 0;
}

.thum-img img {
	width: 63.4px;
	height: 63px;
	float: left;
	margin: 0;
	}
	
.thum-img img:hover{
	-webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
	transition: all 1000ms;
}

.text-upper {
	display: block;
	float: none;
	width: 420px;
	font-size: 12px;
	color: black;
}

.text-upper h2 {
	font-size: 14px;
	font-weight: blold;
	margin-top: 20px;
	margin-bottom: 30px;
	font-style: italic;
	word-spacing: 0.2em;
	color: black;
	text-align: center;
}

.text-upper h2 strong {
	color: #f6604c; 
}

.upper01 {
	display:block;
	margin-bottom: 50px;
	padding-right: 15px;
	margin: 0 auto;
	text-align: left;
	word-spacing: 0.3em;
}

.upper02 {
	display: block;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
	text-align: left;
	word-spacing: 0.3em;
	border-left: 5px solid #999;
	padding-left: 20px;
}

.upper03 {
	display:block;
	margin-bottom: 50px;
	padding-right: 15px;
	margin: 0 auto;
	text-align: left;
	word-spacing: 0.3em;
}

.about-text {
	width: 100%;
	margin: 0 auto;
	display: block;
	margin-top: 50px;
	font-size: 12px;
	padding-bottom: 50px;
}

.about-text strong:hover{
	-webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
	transition: all 1000ms;
}

.education h2 {
	font-family:'Acme', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #448ccb;
	font-style: italic;
	margin-bottom: 20px;
}

.education span {
	font-family:'Open Sans', sans-serif;
	line-height: 18px;
	margin-left: 0px;
	word-spacing: 0.1em;
}

.education span strong {
	color: #448ccb;
	font-weight: bold;
}

.skills h2 {
	font-family:'Acme', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #39b54a;
	font-style: italic;
	margin-bottom: 20px;
	margin-top: 20px;
}

.skills span {
	font-family:'Open Sans', sans-serif;
	line-height: 18px;
	margin-left: 0px;
	word-spacing: 0.1em;
}

.skills span strong {
	color: #39b54a;
	font-weight: bold;
}

.work h2 {
	font-family:'Acme', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #a864a8;
	font-style: italic;
	margin-bottom: 20px;
	margin-top: 20px;
}

.work span {
	font-family:'Open Sans', sans-serif;
	line-height: 18px;
	margin-left: 0px;
	word-spacing: 0.1em;
}

.work span strong {
	color: #a864a8;
	font-weight: bold;
}

.travel h2 {
	font-family:'Acme', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #ff6633;
	font-style: italic;
	margin-bottom: 20px;
	margin-top: 20px;
}

.travel span {
	font-family:'Open Sans', sans-serif;
	line-height: 18px;
	margin-left: 0px;
	word-spacing: 0.1em;
}

.travel span strong {
	color: #ff6633;
	font-weight: bold;
}

/*------------- footer --------------------*/	

.footer {	
	padding: 20px 0;
	width: 100%; 
	background-color:#232323;
}

.footer .inner-box {
	padding: 20px 0;
	width: 100%;
	background-color: #313131;
	border-bottom: 1px dashed #666;
	border-top: 1px dashed #666;
}

.footer .inner{
	width: 430px;
}

.footer-logo {
	margin: 0 auto;
	margin-left: 100px;
	margin-bottom: 20px;
}

.copyright {
	display: block;
	width: 400px;
	margin-right: 20px;
	margin-top: 10px;
	text-align: left; 
	line-height: 20px;
}
.copyright p {
	font-family: 'Alegreya Sans', sans-serif;
	color: #fff;
}

.copyright span {
	font-family: 'Alegreya Sans', sans-serif;
	color: #fff;
	display: block;
	text-align: center;
}

.copyright span strong {
	font-family:'Acme', Helvetica, Arial, sans-serif;
	color: #f6604c;
	font-weight: bold;}
 
 }
	